.App {
  /* text-align: center; */
  padding: 20px;
}

.imagen {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

.titulo {
  color: rgb(254, 112, 112);
  margin-bottom: 0px;

}

.subtitulo {
  color: rgb(138, 138, 138);
  margin-top: 0px;
  font-size: small;
}

.texto {
  color:rgb(88, 162, 247)
}
