body {
    text-align: center;
    background-color: rgb(0, 80, 80);
}

.johs_foto{
    height: 10%;
    width: 30%;
    border-radius: 20%;
    border: 10px dotted cadetblue;
}

h1, .subtitulo, .descripcion{
    color: rgb(255, 255, 255);
}

.container_subtitulo{
    background-color: rgb(4, 68, 49);
    padding: 20px;
    border-radius: 20px;
    margin-inline: 30%;
    margin-bottom: 20px;
}    